Makefile
Makefile.in
aclocal.m4
autom4te.cache/
charm-quark/Makefile
charm-quark/Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
m4/Makefile
m4/Makefile.in
missing
pixmaps/Makefile
pixmaps/Makefile.in
po/Makefile
po/Makefile.in
po/POTFILES
quark/.deps/
quark/Makefile
quark/Makefile.in
quark/fifo.o
quark/main.o
quark/music.o
quark/parsefile.o
quark/playlist.o
quark/quark
stamp-h1
strange-quark/.deps/
strange-quark/Makefile
strange-quark/Makefile.in
strange-quark/applet.o
strange-quark/editor.o
strange-quark/main.o
strange-quark/marshalers.o
strange-quark/quarkclient.o
strange-quark/strange-quark
strange-quark/trayicon.o
